In [139]:
from datetime import datetime, timedelta
import os
import json
import requests
import hmac
import pandas as pd
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st
from scipy.stats import linregress
import time
from config import API_KEY
from client import FtxClient

ModuleNotFoundError: No module named 'ciso8601'

In [11]:
url = 'https://ftx.com/api/markets'

#get BTCUSD spot price
base_currency = 'BTC'
quote_currency = 'USD'

#construct request url
request_url = f"{url}/{base_currency}/{quote_currency}"

btcusd_df = pd.DataFrame(requests.get(request_url).json())
btcusd_df['result']

In [155]:
def historical_bymonth(y, m, res="hourly"):
    """_summary_

    Args:
        y (_type_): _description_
        m (_type_): _description_
    """
    assert m >=1 and m <= 0, "Month must be in range [1, 12]"
    
    resolution = {
        
        "hourly":str(60*60),
        "daily":str(60*60*24)
    }
    start_date = datetime(year=y, month=m, day=1).timestamp()
    end_date = (datetime(y if m<12 else y+1, (m % 12)+1, 1) - timedelta(seconds=15)).timestamp()
    
    historical = requests.get(
                f'{request_url}/candles?resolution={resolution[res]}&start_time={start_date}&end_time={end_date}'
                ).json()
    
    ls = historical['result']
    # df = pd.DataFrame(historical['result'])
    
    return ls

def get_multiple_months(y,m,n_months):
    """_summary_

    Args:
        y (_type_): _description_
        m (_type_): _description_
        n_months (_type_): _description_
    """
    
    MAX_PING_PER_SEC = 12
    
    ls = []
    
    
    for _ in range(n_months):
        # if df.empty(): 
        #     df = historical_bymonth(y, m)
        # else: 
        #     df.append(historical_bymonth(y, m))
        ls.extend(historical_bymonth(y, m))
        
        if m % 12 == 0:
            y+=1
            
        m = (m % 12)+1
    

        time.sleep(1.0 / float(MAX_PING_PER_SEC))
    
    return ls

ls = get_multiple_months(2021,1,18)
df = pd.DataFrame(ls)
df

        
        

    
        
        

# df2 = historical_bymonth(2021,6,res="thirty")
# df2
# y = 2021
# m = 12
# print(datetime(y if m<12 else y+1, (m % 12)+1, 1))
# print(datetime(y if m<12 else y+1, (m % 12)+1, 1) - timedelta(microseconds=1))
# print((datetime(y if m<12 else y+1, (m % 12)+1, 1) - timedelta(microseconds=1)).timestamp())

AssertionError: Month must be in range [1, 12]

In [111]:
def ema(df,length):
    """_summary_

    Args:
        df (_type_): _description_
        length (_type_): _description_
    """
    return ema


#add ohlc4 column
df_2022_hr['ohlc4'] = (df_2022_hr['open']+df_2022_hr['high']+df_2022_hr['low']+df_2022_hr['close'])/4

#add SMA column 
df_2022_hr['SMA'] = df_2022_hr['ohlc4'].rolling(window = 48).mean()


#add 25x liquidation prices (long/short)
sma = df_2022_hr['SMA']
df_2022_hr['25x_liq_long'] = ((sma*25)/(25+1-(0.005*25)))
df_2022_hr['25x_liq_short'] = ((sma*25)/(25+1+(0.005*25)))


df_2022_hr

,date,hour,open,high,low,close,ohlc4,volume,SMA,ATR,25x_liq_long,25x_liq_short
0,2022-06-05 21:00:00,21.0,29923.0,29960.0,29792.0,29937.0,29903.00,9.600126e+06,NaN,NaN,NaN,NaN
1,2022-06-05 22:00:00,22.0,29937.0,30055.0,29847.0,30000.0,29959.75,1.933518e+07,NaN,NaN,NaN,NaN
2,2022-06-05 23:00:00,23.0,30000.0,30025.0,29867.0,29897.0,29947.25,1.128383e+07,NaN,NaN,NaN,NaN
3,2022-06-06 00:00:00,0.0,29897.0,30376.0,29865.0,30280.0,30104.50,2.298991e+07,NaN,NaN,NaN,NaN
4,2022-06-06 01:00:00,1.0,30280.0,30905.0,30280.0,30825.0,30572.50,4.407975e+07,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1495,2022-08-07 04:00:00,4.0,22993.0,23029.0,22944.0,22951.0,22979.25,5.817889e+06,23132.708333,NaN,22350.442834,22136.562998
1496,2022-08-07 05:00:00,5.0,22951.0,22999.0,22950.0,22971.0,22967.75,3.709893e+06,23128.640625,NaN,22346.512681,22132.670455
1497,2022-08-07 06:00:00,6.0,22971.0,23024.0,22970.0,23007.0,22993.00,2.834178e+06,23122.729167,NaN,22340.801127,22127.013557
1498,2022-08-07 07:00:00,7.0,23007.0,23032.0,22998.0,23017.0,23013.50,2.364440e+06,23118.187500,NaN,22336.413043,22122.667464
1499,2022-08-07 08:00:00,8.0,23017.0,23028.0,22958.0,22962.0,22991.25,3.961698e+06,23114.421875,NaN,22332.774758,22119.063995

In [87]:
import pandas_datareader as pdr
import datetime as dt
import seaborn as sns

In [98]:
#create hour column
df_2022_hr['hour']=df_2022_hr.date.dt.hour
df_2022_hr['hour']=df_2022_hr['hour'].astype(float)

In [121]:
#date for volatility
data = df_2022_hr.set_index('date')

high_low = data['high']-data['low']
high_cp = np.abs(data['high']-data['close'].shift())
low_cp = np.abs(data['low']-data['close'].shift())

df_volatility = pd.concat([high_low, high_cp, low_cp], axis =1)

#calc true range
true_range = np.max(df_volatility, axis =1)

#calc avg true range
average_true_range = true_range.rolling(14).mean()

data['average_true_range']=average_true_range


data.drop(['ATR'], axis=1, inplace=True)

data = data.reset_index()

data

,date,hour,open,high,low,close,ohlc4,volume,SMA,25x_liq_long,25x_liq_short,average_true_range
0,2022-06-05 21:00:00,21.0,29923.0,29960.0,29792.0,29937.0,29903.00,9.600126e+06,NaN,NaN,NaN,NaN
1,2022-06-05 22:00:00,22.0,29937.0,30055.0,29847.0,30000.0,29959.75,1.933518e+07,NaN,NaN,NaN,NaN
2,2022-06-05 23:00:00,23.0,30000.0,30025.0,29867.0,29897.0,29947.25,1.128383e+07,NaN,NaN,NaN,NaN
3,2022-06-06 00:00:00,0.0,29897.0,30376.0,29865.0,30280.0,30104.50,2.298991e+07,NaN,NaN,NaN,NaN
4,2022-06-06 01:00:00,1.0,30280.0,30905.0,30280.0,30825.0,30572.50,4.407975e+07,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1495,2022-08-07 04:00:00,4.0,22993.0,23029.0,22944.0,22951.0,22979.25,5.817889e+06,23132.708333,22350.442834,22136.562998,113.642857
1496,2022-08-07 05:00:00,5.0,22951.0,22999.0,22950.0,22971.0,22967.75,3.709893e+06,23128.640625,22346.512681,22132.670455,112.928571
1497,2022-08-07 06:00:00,6.0,22971.0,23024.0,22970.0,23007.0,22993.00,2.834178e+06,23122.729167,22340.801127,22127.013557,110.928571
1498,2022-08-07 07:00:00,7.0,23007.0,23032.0,22998.0,23017.0,23013.50,2.364440e+06,23118.187500,22336.413043,22122.667464,94.214286
1499,2022-08-07 08:00:00,8.0,23017.0,23028.0,22958.0,22962.0,22991.25,3.961698e+06,23114.421875,22332.774758,22119.063995,90.285714

In [122]:
#save as csv
data.to_csv("df_2022_hr_capped2.csv", index=False, header=True)